.vs/
src/bin/
src/obj/
src/common/obj/
src/common/bin/
src/cycod/obj/
src/cycod/bin/
src/cycodmd/bin/
src/cycodmd/obj/
src/cycodt/obj/
src/cycodt/bin/

tests/**/bin/
tests/**/obj/

.cycod/config.yaml
.cycod/scratch/
.env

test-results.trx
tests/cycodt-yaml/testresults/
tests/cycodt-yaml/inception-layer-1/test-results-simple-optional.trx
tests/cycodt-yaml/inception-layer-1/test-results-simple.trx
tests/cycodt-yaml/inception-layer-1/test-results-simple2.trx
tests/cycodt-yaml/inception-layer-1/test-results-simple3.trx
